{% extends 'user/base.html' %} {% block header %}

<title>Contact</title>

{% endblock header %} {% block content %}

<h1 class="text-center font-bold text-4xl">Contact Page</h1>

<div class="w-1/2 mx-auto">
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      <label>{{form.first_name.label}}</label>
      {{form.first_name}} {% if form.first_name.errors%}

      <div class="text-red-600">
        {% for error in form.first_name.errors %}
        <p>{{error}}</p>
        {% endfor %}
      </div>

      {% endif %}
    </div>

    <div class="mb-4">
      <label>{{form.last_name.label}}</label>
      {{form.last_name}} {% if form.last_name.errors%}

      <div class="text-red-600">
        {% for error in form.last_name.errors %}
        <p>{{error}}</p>
        {% endfor %}
      </div>

      {% endif %}
    </div>

    <div class="mb-4">
      <label>{{form.email.label}}</label>
      {{form.email}} {% if form.email%}

      <div class="text-red-600">
        {% for error in form.email.errors %}
        <p>{{error}}</p>
        {% endfor %}
      </div>

      {% endif %}
    </div>

    <div class="mb-4">
      <label>{{form.phone_number.label}}</label>
      {{form.phone_number}} {% if form.phone_number%}

      <div class="text-red-600">
        {% for error in form.phone_number.errors %}
        <p>{{error}}</p>
        {% endfor %}
      </div>

      {% endif %}
    </div>

    <div class="mb-4">
      <label>{{form.message.label}}</label>
      {{form.message}} {% if form.message%}

      <div class="text-red-600">
        {% for error in message.errors %}
        <p>{{error}}</p>
        {% endfor %}
      </div>

      {% endif %}
    </div>

    <button type="submit" class="bg-indigo-600 p-2 rounded text-white">
      Send Message
    </button>
  </form>
</div>

<!-- <ul>
  {%for msg in message %}

  <li>{{msg}}</li>

  {%endfor %}
</ul> -->

{% endblock content %}
