{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    {% block header %} {% endblock header %}
  </head>
  <body class="bg-gray-50 min-h-screen flex items-center">
    
   

        {% block content %} 
        
        
        
        {% endblock content %}
      </div>
    </div>

  </body>
</html>
